{% extends 'base.html' %}


{% block content %}

    <div class="container text-center p-4">
        {% if current_user.is_authenticated %}
        <h3>Hello {{ current_user.username }}!</h3>
        {% else %}
        <h3>Hello! Please Sign Up or Login</h3>
        {% endif %}
    </div>

    <div class="row">

        {% for p in posts %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ p.title }}</h5>
                    <p class="card-title text-center">{{ p.body }}</p>
                    <!-- Display category img based on category -->
                    <p class="card-title text-center">{{ p.category }}(FIX)</p>
                    <div class="d-flex justify-content-center">
                    <a href="{{ url_for('blog.single_post', post_id=p.id) }}" class="btn btn-primary w-50">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}