{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="form-group mt-3">
                        <h1 class="text-center">Sign Up</h1>
                        {{ form.email.label }}
                        {{ form.email(class='form-control', placeholder='Email') }}
            
                        {{ form.username.label }}
                        {{ form.username(class='form-control', placeholder='Username') }}
            
                        {{ form.password.label }}
                        {{ form.password(class='form-control', placeholder='Password') }}
            
                        {{ form.confirm_pass.label }}
                        {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}
            
                        <div class="d-flex justify-content-center">
                            {{ form.submit(class='btn btn-dark mt-3') }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>

    </div>
{% endblock content %}  